<div>
  <h1>Login</h1>
  <form class="content">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        [formControl]="loginFormGroup.controls.email"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        [formControl]="loginFormGroup.controls.password"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </form>
</div>
