<div class="date-picker">
  <img class="house-picture" src="{{ housePicture }}" />

  <form class="booking-form" [formGroup]="range">
    <mat-form-field>
      <mat-label>Select house</mat-label>
      <mat-select formControlName="house">
        <mat-option *ngFor="let house of houseList" [value]="house">{{
          house.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input
        [formGroup]="range"
        [rangePicker]="picker"
        [dateFilter]="dateIsInBookedRangeFilter"
      >
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>DD.MM.YYYY - DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>

  <ng-container *ngIf="range.controls.start.hasError('matStartDateInvalid')">
    <mat-error>Invalid start date</mat-error>
  </ng-container>
  <ng-container *ngIf="range.controls.end.hasError('matEndDateInvalid')">
    <mat-error>Invalid end date</mat-error>
  </ng-container>
  <button color="primary" mat-raised-button (click)="submitBooking()">
    Submit
  </button>
</div>

<table
  mat-table
  [dataSource]="this.currentlyShownBookings"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef>Arrival</th>
    <td mat-cell *matCellDef="let element">{{ element.arrival }}</td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef>Departure</th>
    <td mat-cell *matCellDef="let element">{{ element.departure }}</td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let element">
      {{ element.bookingUser?.userName ?? "Unknown" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="house">
    <th mat-header-cell *matHeaderCellDef>House</th>
    <td mat-cell *matCellDef="let element">
      {{ element.house?.name ?? "Unknown" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Remove?</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="Delete"
        (click)="delteBooking(element.id)"
      >
        <mat-icon style="color: red">close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="bookingTableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: bookingTableColumns"></tr>
</table>
