.date-picker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  gap: 1em;

}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

}

.house-picture{
  width: 10em;
  height: 10em;
  object-fit: cover;
}
